body {
    background: url(https://cdn.imgpile.com/f/iqgryG1_xl.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blocks {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "d d d"
    "a b c" 
    "a b c" 
    "a b c";


    font-size: 13pt;
    padding: 1rem;
    gap: 3rem;
    color: white;
}

.a { grid-area: a; }

.a, .b, .c, .d {
    text-align: justify; 
    background-color: #000000c9; 
    padding: 1rem;
    border-radius: 3rem;
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }

.citate {
    border-left: white solid 3px;
    padding-left: 1rem;
}